/* met */
var col1 = #fff;
var bordrad1 = 3px;
var bordrad2 = 2px;
var bordradg = 2px;
var bordraded = 2px;
var bg1 = #4D90FE;
var bg2 = #fff4f2;
var background-disabled = #ce8493;
var bgeditor = #fff;
var bgpop = var.bgeditor;
var bgmodal = gainsboro;
var awelipad = 5px;
var rowlineh = 2.2em;
var hghlcolor = #f7faf9;
var mcolor = rem;
var mbrdcolor = #aea3ac;
var brd2-color = gainsboro;
var clrbrdcol = gray;
var color-disb-caret = gainsboro;
var color-disb-text = var.mbrdcolor;
var clrdis = var.bg2;
var lbrdcolor = #e5e5e5;
var bgli = #fff;
var bgg = var.bg2;
var bg-grid-cont = var(bgli);
var outlselli = gold;
var btnbrdcolor = #ccc;
var gbarcolor = #707070;
var bglkpsel = #ffdc69;
var grid-cell-side-border = 1px solid gainsboro;
var clscolor = gray;
var bgspincont = rgba(242, 240, 240, 0.64);
var colcolor = #bf5165;
var sidebtnw = 2.2em;
var txtsidepad = .75em;
var cecolor = #6b7069;
var list-border = 1px solid var.mbrdcolor;
var rgday-col = #eee;

var aweli = {
	border-bottom: 1px solid var.lbrdcolor;
};

var gfooter = {
	border-top: 1px solid var.btnbrdcolor;
};

var bg-sel = {};

var awe-grid = {
	border: 1px solid var(brd2-color);
};

var ocaret = {
	background: url(caret.png);
    width: 24px;
    height: 24px;
    border: none;
    margin-left: -12px;
    margin-top: -12px;
};

var odd-btn-awefocus = {
	@inherit awebtnfocus;
};

var add = {
	border: 1px solid #ced4da;
};

var ajxltd = {
	border-bottom: 1px solid #eee;
};

var ajxlthead = {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #F8F8F8;
    color: #333;
};

var btnp = {
	background-image: none;
	background: #b383c7;
    border-color: #b383c7;
};

var btnphover = {
	background: #8465a7;
    border-color: #8465a7;
};

var btnpfocus = {};

var btnpactive = {};

var btn = {
	border: 1px solid #ce687d;
    background-image: linear-gradient(to bottom, #e77f94, #e77f94);
    background-color: #e77f94;
    border-radius: 3px;
    color: #fff;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
};

var btnhover = {
	background-image: none;
	color: #fff;
	background: #cb687b;
	border-color: #cb687b;
};

var btnfocus = {
	outline: 0;	
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
	border-color: #a27383;
};

var btnactive = {
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
};

var btnsel = {
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2)!important;
	border: 1px solid #b28c83;
    background-color: #eae2d5!important;
	background-image: none;
	color: #333;
};

var btnselspin = {
	color: white;
	box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.2);
};

var btndis = {
.awe-disabled .o-btn.awe-btn {
	color: gray;
	box-shadow: none;
}

.awe-disabled .o-btn.awe-btn:not(.o-cbxbtn) {
	background: #f8f8f8;
	box-shadow: none;
	border-color: var.mbrdcolor;
}
};

var morebtn = {	
	background-color: #F8F8F8;
    background-image: linear-gradient(to bottom, #fcfcfc 0, #f8f8f8 100%);
    border: 1px solid;
    border-color: #D3D3D3;
    color: #333;
    outline: 0;
};

var morebtnhover = {
	background-color: #f0f0f0;
	background-image: linear-gradient(to bottom, #f8f8f8 0, #eee 100%);
	border-color: #c5c5c5;
	color: #333;
};

var okbtnblock = {
.awe-okbtn {
    @inherit btnp;
}

    .awe-okbtn:hover {
        @inherit btnphover;
    }

    .awe-okbtn:active {
        @inherit btnpactive;
    }
};
var icon2 = awe_icons2.png;

var reloadico = {
	background-image: url('awe_icons.png');
};

var gridheader = {
	background-image: linear-gradient(to bottom, #fff4f2 0, #fff4f2 100%);	
	color: #333;
};

var highlight = {
	color: gray !important;
};

var gbarcol = {};

var highlightgroupbar = {};

var awetxt = {
	color: #333;
    border: 1px solid var(mbrdcolor);
    border-top-color: var(mbrdcolor);
};

var awetxtfocus = {
	outline: 0;
	border-color: #a27383;
};

var chkfocus = {};

var awetxtdis = {
	background: #f5f5f5;
};

var txtplaceholder = {};

var placeholder = {
	color: #555;
};

var tabbtn = {
	background-color: #f7f7f7;
};

var tabfocus = {
	outline: thin dotted #b5b5b5;
	outline-offset: -5px;
};

var tabactive = {
	background: #fff;
	border: 1px solid var(mbrdcolor);
	margin-bottom: -2px;
	border-bottom: 1px solid #FFF;
};

var btngarw = {};

var buttongroup-btn = {
	font-size: .9em;
	@inherit obtn;
};

var buttongroup-btn-hover = {
	@inherit obtnhover;
};

var buttongroup-btn-selected = {
	@inherit awebtnsel;
};

var buttongroup-btn-focus = {};

var btngactive = {
	@inherit obtnactive;
};

var omenu = {
	border: 1px solid rgba(100, 100, 100, 0.4);
    background: rgba(255, 255, 255, 0.98);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
};
var oobrdcolor = #d188b6;

var oitm = {
	line-height: 3.1em;
};

var itmfocus = {
	background-color: #d188b6;
	color:#fff;
};

var itmsel = {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAKCAYAAACwoK7bAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sLHAoAB0rBjw8AAAEZSURBVCjPrZK9SsRQEEbPTVLI5gl2U9sIgmQSEEUIWGmfwkbBRrRXfAEVLOxsLCxsBcHHMCSsEIjN1hutJCIYg+TaRFllwQiZcr5vDvOn6DA8z9vUWp8qpfY7g4rIoYho13WvAIwOmEpEjoETICvLcg/A6gB6DuwCb3Vdh1mWvbYGi8g8QJIk6UTaEJFLYAtAKbUzHA6zL9H8CxoEwUxVVTdaa7ff73/kef4QhqHZ6/WugY0GehHH8dGPUdp07Pv+Ql3XUdPIGTAHrDfyfVEUi6PR6H2yxmwDHo/Hj4PB4AVYA5aA2UYqLMtaSdP0+XeN2fZKeZ7fOY5jA8vfSzaM1SiKsmn+f71bHMcHwC3wpLXetm07AvQ07yddElvdEn1epgAAAABJRU5ErkJggg==) no-repeat left center rgba(0, 0, 0, 0);
};

var itmselfocus = {
	background-color: #d188b6;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAKCAYAAACwoK7bAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sLHAoBFjlqnrwAAACUSURBVCjPrdMhCgJREAbgXRU0eARPICyYPYZ9BU9g9QQG7YJNzAoW72Db5B2MJoMgn8EHLiuG1ffH4fHBzJtJkojBGBfkMdGZV7axwBTzgJ7RjYWuAnpDvy6QIavUGth4J6+LdnDCDqNQa2JfQte/tjzAHQ8scSyhBdr/zHPqM1f0YnzWogIPkcZar0M4ggla3949AREf0AnV0H4LAAAAAElFTkSuQmCC) no-repeat left center #d188b6;
};

var itmfoccei = {
	color: #fff;
};

var itm-foc-arw = {
	border-color: #fff;
};

var obtn = {};

var obtnhover = {};

var obtnfocus = {};

var obtnactive = {};

var ddbtnactive = {};

var igmenu = {};

var igmenusel = {};

var cbxbtnfocus = {
	background: transparent;
};

var cbxbtnslbtn = {};

var phdr = {};

var ophdrocls = {
	padding: .5em 1em;
    font-size: 1.3em;
};

var optitl = {};

var opbtns = {
	padding: 0.5em .7em .7em;
    border-top: 1px solid gainsboro;
};

var opmc = {
	border: 1px solid rgba(100, 100, 100, 0.4);
    background: #fff5f2fa;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
};
var bgloadanim = #d188b6;
var bgkeynav = #f7e2ff;
var keynavoutlcol = #b383c7;
var keynavbright = 96;

var dtpdayhov = {
	background-color: #f0f0f0;
    border-color: #ccc;
};

var odaydiv = {
	border: 1px solid #fff;
	border-radius: 100%;
};

var otdaydiv = {
	border-color: gainsboro;
};

var selday = {
	background: #b383c7 !important;
    color: white;
};
var arww = 2px;
var arwcol = #333;

var schedbararw = {
	border-color: #fff;
};

var cmbtnarw = {
	border-color: #757575;
};

var mnthawebtn = {
	color: #333;
};
var chkcolor = var.mbrdcolor;
var tgonhov = #ffece7;

var tgon = {
	color: #000;
    background: #fadcd4;
};

var tgchked = {
	border-color: var.chkcolor;
    background: var.chkcolor;
};

var ntp = {
	background-color: #fff;
    border: 1px solid var.mbrdcolor;
};

var ontpocls = {
	font-size: 1.3em;
    padding: .1em .8em;
};

var ntlb = {};

var errntlb = {};

var errntp = {
	background: #d02954;
	color: white;
};

var errcls = {
	color: white;
};

var pbtnblock = {};

var chkmchked = {
	color: #9606d0;
};

var chkico = {
	transition: 140ms;
	border: .15em solid #d188b6;
	border-radius: .15em;
	background: #fff;
};

var chkchked = {
	background: #b383c7;
    border-color: transparent;
};

var chkicoafter = {
	box-sizing: border-box;
	transform: rotate(45deg);
	position: absolute;
	content: '';
	top: -.05em;
	left: .349em;
	height: .93em;
	width: .45em;
	border: solid white .17em;
	border-top: 0;
	border-left: 0;
	display: block;
};

var rdlchkbfaf = {
	border: 2px solid #d188b6;
	background: #fff;
};

var rdlchkedbfaf = {
	border: 2px solid #b383c7;
};

var rdlchkedaf = {
	background-color: #b383c7;
};

var rdlchkbfafdisb = {
	border-color: #bbb;
};

var rdlchkedbfafdisb = {
	border-color: #bbb;
};

var rdlchkedafdisb = {
	background-color: #bbb;
};

var dischkico = {
	background-color: #dcdcdc;
	border-color: #ccc;
};

var dischked = {};
var tgbrdcolor = var.mbrdcolor;

var tgoff = {
	background: #e5e5e5;
};
var bgoffhover = #d3d3d3;

var grid-footer-btn = {
	border: none;
	background: transparent !important;
	color: #333;
};

var grid-footer-btnsel = {
	@inherit awebtnsel;
};

var grid-footer-btnfocus = {
	@inherit obtnfocus;
};

var nstcreate = {
	border-top: 1px solid gainsboro;
};

var nstcell = {
	background: #fff;
};

var grid-row-cell = {
	border-bottom: 1px #e5e5e5 solid;
};

var altrow = {
	background: #fdf5f7;
};

var restblock = {
.awe-footer .o-caret, .o-caret.o-cl2, .o-mnth .o-caret {
	background: url(caretb.png);
}
};
@insert main.css;