@{
    ViewBag.Title = "Grid filter row server side data";
}
<h1>Grid filter row with server side data</h1>

@*<div class="example">
    @Html.Partial("Demos/GridFilterRowServerData")
</div>*@

<div class="example">
    @Html.Partial("Demos/GridFilterOutside")
</div>