@{
    ViewBag.Title = "Grid Filter row client data ";
}

<h1>Grid filter row client data demos</h1>

<div class="example">
    @Html.Partial("Demos/GridFilterClientData")
</div>

<div class="example">
    @Html.Partial("Demos/GridFilterMultiClientData")
</div>