@using AwesomeMvcDemo.Models
@{
    ViewBag.Title = "Angular Demo";
}

<h1>Angular Demo</h1>
<br />

<div class="expl">
    For Angular (2+), React, Vue demos please see the <a href="https://www.aspnetawesome.com/#All-Downloads">Downloads</a> section on our home page.
</div>