@{
    ViewBag.Title = "AjaxList Demo";
}

<h1>AjaxList</h1>

<div class="expl">
    Renders a list and a load more button, in the controller on each request we set a property indicating whether there's is more items to be loaded.
</div>
<br />

@Html.Partial("Demos/AjaxListBoundToParent")